@import url("https://fonts.googleapis.com/css2?family=Marvel&display=swap");
body {
  background-image: url("./public/assets/universe.jpg");
  font-family: "Marvel", Courier, monospace;
  background-size: contain;
}
body::-webkit-scrollbar {
  width: 5px; /* width of the entire scrollbar */
  height: 0px;
}

body::-webkit-scrollbar-track {
  background: black; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: red; /* color of the scroll thumb */
}

* {
  padding: 0;
  margin: 0;
}
