@import url("https://fonts.googleapis.com/css2?family=Marvel&display=swap");
body {
  background-image: url("assets/universe.jpg");
  font-family: "Marvel", Courier, monospace;
  background-size: contain;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30;
  list-style: none;

  cursor: pointer;
  color: #9b9b9b;

  font-weight: 600;
}

.page-item {
  font-size: 16px;
}
.page-link {
  padding: 10px;
}
.buttonLink {
  color: #ffff;
}
.active {
  background: #ed1b24;
  color: #ffffff !important;
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
}
.card {
  perspective: 1000px;
  height: 200px;
  width: 200px;
  position: relative;
  margin-bottom: 5px;
}
.card img {
  width: 100%;
  border-radius: 5px;
  height: 200px;
  width: 180px;
  object-fit: fill;
}
.card .frente {
  position: absolute;
  transform: rotateY(0deg);
  backface-visibility: hidden;

  transition: transform 0.4s linear;
}
.card .fundo {
  font-family: "Marvel", sans-serif;
  position: absolute;
  transform: rotateY(180deg);
  background-color: black;
  border-radius: 5px;
  height: 200px;
  width: 180px;
  backface-visibility: hidden;
  transition: transform 0.4s linear;
}
.card:hover .frente {
  transform: rotateY(-180deg);
  cursor: pointer;
}
.card:hover .fundo {
  transform: rotateY(0deg);
  cursor: pointer;
}
.fundoElementos {
  color: #ffffff;
  display: flex;
  justify-content: center;
  margin-top: 30%;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
}

.hqLogo {
  margin-top: 50px;
}
.items {
  display: grid;
  grid-auto-columns: max-content;
  grid-auto-flow: dense;
  grid-auto-rows: minmax(10px, 280px);
  grid-gap: 10px;
  grid-template-columns: repeat(6, 1fr);
  margin: 0 auto;
  width: 90%;
  margin-bottom: 200px;
}
.tituloComic {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.heroName {
  display: flex;
  width: 180px;
  justify-content: center;
  flex-wrap: wrap;
  color: #ffffff;
  background-color: black;
  border-top: #ed1b24 2px solid;
  font-size: 24px;
}
.containerHeroes {
  margin-top: -50px;
}
.pagination {
  margin-top: -120px;
}

@keyframes shimmer {
  100% {
    -webkit-mask-position: left;
  }
}
@media (max-width: 1148px) {
  .items {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 898px) {
  .items {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 696px) {
  .items {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 451px) {
  .items {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
}
